  
.logout:hover {
    color: rgba(207, 34, 34, 0.75);
    cursor: pointer;
}
.navbar{
    justify-content: space-between;
}
.footer{
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
}
.span {
    margin: auto;
    font-size: 0.75em;
}

.tool-text{
    font-size: 10px;
}

.tool-text-welcome{
    font-size: 16px;
}
span{
    padding-right: 1rem;
}
